@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Helping Classes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: 700;
}
p {
  font-weight: 400 !important ;
  margin: 0;
}
a {
  font-weight: 600;
  color: #092032;
  transition: all 0.2s ease;
}
.navbar-nav a:hover {
  color: #ff4d29;
}

.bg-brand {
  background-color: #ff4d29;
}
.text-brand {
  color: #ff4d29;
}

/* Top-navbar */

.social-icons .navbar-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-right: 7px;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1000px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.social-icons .navbar-social-icon:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}
/* Bottom Navbar */
.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.contact-btn {
  padding: 13px 30px;
  border-radius: 5px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 0.5rem;
  cursor: pointer;
}
.contact-btn:hover {
  background-color: #f02900;
  color: initial;
}

/* Home */
.hero {
  min-height: 100vh;
  width: 100%;
  background: url(assets/images/bg_banner1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-2 {
  min-height: 100vh;
  width: 100%;
  background: url(assets/images/bg_banner2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width:500px) {
  .hero{
  background-position: right ;
  }
  .hero-2{
  background-position: left ;
  }
}
.transp-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.transp-btn:hover {
  background-color: white;
  color: initial;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(0 0 0 / 30%);
}
.owl-carousel {
  display: relative;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  font-size: 20px !important;
  height: 60px !important ;
  width: 60px !important ;
  padding: 20px 20px;
  border-radius: 50% !important;
  background-color: rgb(255 255 255 / 40%) !important;
  transition: all 0.5s ease-out;
  margin-top: -30px !important ;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
.owl-prev:hover,
.owl-next:hover {
  background-color: #f02900 !important ;
}
/* About */
#about {
  min-height: 100vh;
}
.about-img {
  height: 95px;
}
.about-big-img {
  width: 100%;
  margin-inline: 50px;
}
/* Orange Section */
.orange-section {
  background: url(assets/images/bg_banner1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(240 41 0 / 80%);
}

/* Orange Section */
/* Portfolio section */
.project-card {
  position: relative;
}
.project-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(9 32 50 / 1%),
    rgb(9 32 50 / 90%)
  );
}
.project-para {
  position: relative;
}
.project-para::before {
  content: " ";
  height: 2px;
  width: 38px;
  display: inline-flex;
  background-color: rgb(240, 41, 0);
  vertical-align: middle;
  margin-right: 6px;
}
.owl-dot.active span {
  background-color: #f02900 !important ;
}
/* Portfolio section */

/* team-section */

.team-img {
  width: 100%;
}

.team-card {
  position: relative;
  transition: all 1s ease-in-out;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.social-icons-team {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.footer-social-icon,
.social-icons-team .social-icon-team {
  padding: 11px;
  font-size: 1.3rem;
  color: white;
  background-color: rgb(169 169 169 / 59%);
  transition: all 0.3s ease-in-out;
  border-radius: 1000px;
  margin-right: 7px;
  cursor: pointer;
}
.social-icons-team .social-icon-team:hover {
  color: black;
  background-color: white;
}

.team-card:hover {
  .team-overlay {
    height: 100%;
    background-image: linear-gradient(
      rgb(255, 77, 41, 0.7),
      rgb(255, 77, 41, 0.7)
    );
  }

  .social-icons-team {
    top: 50%;
    z-index: 1;
  }
}
/* team-section */

/* Reviews */
#reviews-cards,
#footer-div {
  background: linear-gradient(rgb(8, 32, 50, 0.8), rgb(8, 32, 50, 0.8)),
    url(assets/images/bg_banner1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.stars .bx {
  color: #f02900;
}
/* Reviews */

/* BLOG */

.project-img {
  width: 100% !important ;
}

/* BLOG */
.blog-card {
  position: relative;
}
.label-badge {
  position: absolute;
  top: 6%;
  left: 11%;
  padding: 0.3rem 0.8rem;
}

/* Footer */
.footer-para {
  color: rgba(255, 255, 255, 0.678);
  font-size: 0.9rem;
}

.footer-social-icon:hover {
  color: #f02900;
  background-color: white;
}
.footer-border-top {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

/* Footer */

/* contact-modal  */
.contact-img {
  height: 600px;
  background-position: center;
}

@media (max-width: 992px) {
  .contact-img {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
  }
}



.contact-text {
  color: rgb(81, 97, 113);
}
.contact-text input,
.contact-text textarea {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 7px;
}


/* contact-modal  */
/* Close btn code */
.close-btn-parent{
position: relative;
}
.close-btn{
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}

.spiner {
  background: rgb(242,101,41);
  background-image: url(assets/images/spinner.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
}
